<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Mapbox Example</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
  </style>
</head>
<body>
  <div id='map'></div>
  <script>
    mapboxgl.accessToken = '';//put accessToken here
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11', 
      center: [100.53125, 13.75], 
      zoom: 12 

    
    });

    var coordinatesList = [
            { lng: 100.53125, lat: 13.75 },
            { lng: 100.54, lat: 13.76 },
            { lng: 100.55, lat: 13.77 },
            { lng: 100.56, lat: 13.78 },
            { lng: 100.57, lat: 13.79 },
            { lng: 100.58, lat: 13.80 },

        ];

      // function displayCoordinates() {
      // fetch('/get_coordinates')
      //     .then(response => response.json())
      //     .then(data => {
      //         var coordinates = data.coordinates;
      //         coordinates.forEach(coordinate => {
      //             new mapboxgl.Marker()
      //                 .setLngLat(coordinate)
      //                 .addTo(map);
      //         });
      //     })
      //     .catch(error => console.error('Error fetching coordinates:', error));
      //   }

    map.on('load', function () {
      coordinatesList.forEach(function (coordinates) {
        var circleLayerId = 'circle-' + coordinates.lng + '-' + coordinates.lat;
        map.addLayer({
            'id': circleLayerId,
            'type': 'circle',
            'source': {
                'type': 'geojson',
                'data': {
                    'type': 'Point',
                    'coordinates': [coordinates.lng, coordinates.lat]
                }
            },
            'paint': {
                'circle-radius': 
                    {
                        'base': 70,
                        'stops': [
                            [8, 7.5],
                            [11, 15],
                            [16, 60],
                            [19, 120],
                            [22, 180]
                        ]
                    }
                    ,
                'circle-color': 'rgba(255, 0, 0, 0.4)', 
                'circle-stroke-color': '#fff'
            }
        });
      });
    });

  </script>
</body>
</html>

